<nav class="navbar navbar-dark bg-dark navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Yelp Camp!</a>
        </div>
    </div>
</nav>