<% include partials/header %>
    <div class="container">
        <header class="jumbotron">
            <h1>Welcome to Yelp Camp!</h1>
            <p>View our hand-picked campgrounds</p>
            <form action="/campgrounds/new" method="GET">
                <button class="button btn-info">Add a new campground!</button>
            </form>    
        </header>
        <div class="row">
            <div class="col-lg-12">
                <h3>Our Most Popular Campgrounds</h3>
            </div>
        </div>
        <div class="row text-center">
            <% campgrounds.forEach(function(campground){  %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src=  <%= `${campground.image}` %> class="campground" alt="Photo of the campground">
                        <div class="caption">
                            <h4><%= campground.name %></h4>
                        </div>        
                    </div>
                </div>           
            <% });        %>        
        </div>
        <footer>
            <form action="/" method="GET">
                <button class="btn btn-lg btn-info">Back</button>
            </form>
        </footer>
    </div>

<% include partials/footer %>