<% include partials/navbar %>
<% include partials/header %>

<h1>This is the SHOW Template for <%= campground.name %>!</h1>

<img src="<%= campground.image %>" alt="Image of <%= campground.name %>">

<p>
    <%= campground.description %>
</p>

<% include partials/footer %>